---
import Layout from "../layouts/Layout.astro"
---

<main>
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-center mt-16 font-medium text-4xl">
            AgencyEdit
        </h1>
        <h2 class="text-white text-center mt-5 font-medium text-1xl">
            Potencia tu <span class="text-cyan-400">negocio</span> con nuestra asesoria personalizada
        </h2>
        <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-7">  
    </div>
    <div class="">
        <h1 class="text-white font-medium text-4xl text-center">
            Nuestros servicios
        </h1>
        <div class="flex justify-center mt-2">
            <div class="mr-80 w-[300px] h-[200px] text-center">
                <h1 class="text-white font-medium text-2xl">
                    Edicion de <span class="text-cyan-400">Videos</span>
                </h1>
                <h2 class="text-white text-center mt-2 font-medium text-1xl">
                    Nuestro servicio de edicion de video destacan la creatividad, brinda calidad sin igual
                    con efectos visuales impactantes y montajes que capturan la atencion, confia en nosotros
                    para la elaboracion de tu contenido
                </h2>
            </div>
            <div class="w-[300px] h-[200px] text-center">
                <h1 class="text-white font-medium text-2xl">
                    Desarrollo <span class="text-cyan-400">Web</span>
                </h1>
                <h2 class="text-white text-center mt-2 font-medium text-1xl">
                    Nuestro servicio de desarrollo web esta enfocado en crear
                    experiencias online cautivadoras y funcionales. Desde
                    Paginas elegantes hasta sitios web dinamicos, en AgencyEdit
                    convertimos tu vision en una presencia digital.
                </h2>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="">
           <h1 class="text-white font-medium text-2xl">
                Diseño de <span class="text-cyan-400">Logos</span>
            </h1>
            <div class="w-[300px] h-[200px] mx-auto text-center">
                <h2 class="text-white text-center mt-2 font-medium text-1xl">
                    Con nuestro servicio de diseño de logos, fusionamos creatividad y estrategia para
                    dar forma a los logotipos con elegancia, eleginos para dar vida a tu imagen corporativa
                    con logotipos distintivos y memorables
                </h2>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-7">
        </div>
    </div>
    <div>
        <h1 class="text-white text-center mt-1 font-medium text-4xl">
            Nosotros
        </h1>
        <div class="w-[400px] h-[200px] mx-auto text-center">
            <h2 class="text-white text-center mt-2 font-medium text-1xl">
                Nosotros somos <span class="text-cyan-400">Luis Lizzi</span> y <span class="text-cyan-400">Felipe López</span>, dos jóvenes de 18 y 19 años nacidos en Argentina (Río Negro). Estudiantes en las carreras de  Ing. en sistemas de la información y Lic. en ciencias de la computación.
                Con mentes creativas de rápida adaptación a diferentes herramientas o ámbitos laborales, especializados por cursos en desarrollo web, edición de videos y diseño de logos.
            </h2>  
        </div>
        <div class="flex justify-center items-center">
            <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-7">
        </div>
    </div>
</main>