---
import Layout from "../layouts/Layout.astro"
---

<main>
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-center mt-16 font-medium text-4xl">
            AgencyEdit
        </h1>
        <h2 class="text-white text-center mt-5 font-medium text-1xl">
            Potencia tu <span class="text-cyan-400">negocio</span> con nuestra asesoria personalizada
        </h2>
        <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-7 max-[1024px]:mt-2">  
    </div>
    <div id="servicios" class="">
        <h1 class="text-white font-medium text-4xl text-center max-[1024px]:mt-2">
            Nuestros servicios
        </h1>
        <section class="flex justify-center max-[1024px]:flex-col">
            <div class="flex justify-center items-center flex-col text-center mr-80 max-[1024px]:mr-0 mt-2">
                <h1 class="text-white font-medium text-2xl">
                    Edición de <span class="text-cyan-400">Videos</span>
                </h1>
                <h2 class="text-white mt-2 font-medium text-1xl">
                    Nuestro servicio de edición de video<br> destaca la creatividad, brinda calidad<br> sin igual
                    con efectos visuales<br> impactantes y montajes que capturan<br> la atención. Confía en nosotros
                    para la<br> elaboración de tu contenido.
                </h2>   
            </div>
            <div class="flex justify-center items-center flex-col text-center mt-2">
                <h1 class="text-white font-medium text-2xl">
                    Desarrollo <span class="text-cyan-400">Web</span>
                </h1>
                <h2 class="text-white mt-2 font-medium text-1xl">
                    Nuestro servicio de desarrollo web está<br> enfocado en crear
                    experiencias online<br> cautivadoras y funcionales. Desde<br>
                    páginas elegantes hasta sitios web<br> dinámicos, en AgencyEdit
                    convertimos<br> tu visión en una presencia digital.
                </h2>
            </div>
        </section>
    </div>
    <div class="text-center mt-2">
        <div class="">
           <h1 class="text-white font-medium text-2xl">
                Diseño de <span class="text-cyan-400">Logos</span>
            </h1>
            <div class=" mx-auto text-center">
                <h2 class="text-white text-center mt-2 font-medium text-1xl">
                    Con nuestro servicio de diseño de <br> logos, fusionamos creatividad y<br> estrategia para
                    dar forma a los<br> logotipos con elegancia, eleginos para<br> dar vida a tu imagen corporativa
                    con<br> logotipos distintivos y memorables
                </h2>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-7 mt-5">
        </div>
    </div>
    <div id="nosotros">
        <h1 class="text-white text-center mt-1 font-medium text-4xl ">
            Nosotros
        </h1>
        <div class="w-[400px] h-[200px] mx-auto text-center">
            <h2 class="text-white text-center mt-2 font-medium text-1xl">
                Nosotros somos <span class="text-cyan-400">Luis Lizzi</span> y <span class="text-cyan-400">Felipe López</span>, dos jóvenes de 18 y 19 años nacidos en Argentina (Río Negro). Estudiantes en las carreras de  Ing. en sistemas de la información y Lic. en ciencias de la computación.
                Con mentes creativas de rápida adaptación a diferentes herramientas o ámbitos laborales, especializados por cursos en desarrollo web, edición de videos y diseño de logos.
            </h2>  
        </div>
        <div class="flex justify-center items-center">
            <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-7">
        </div>
    </div>
</main>