---
import Header from "../components/Header.astro"
import '@fontsource-variable/onest';
import Main from "../components/Main.astro";
import Contacto from "../components/Contacto.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Agency Edit - Potencia tu negocio con nuestras asesorias personalizadas" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>Agency Edit</title>
		<meta property="og:title" content="Agency Edit - Potencia tu negocio con nuestras asesorias personalizadas">	 
	</head>
	<body class="">
		<div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		</div>
		<slot />
		<Header />
		<Main />
		<Contacto />
	</body>
</html>

<style>
	body{
		font-family: 'Onest Variable', sans-serif;
	}
</style>

